{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Машинки.ру{% endblock %}</title>
        <link type="text/css" href="{% static 'cars/css/style.css' %}" rel="stylesheet" />
    </head>
    <body>
        <nav class="navbar">
            <div class="navbar-brand">
                <a href="#">Машинки.ру</a>
            </div>
        </nav>
        {% block body %}{% endblock %}
        <footer class="footer">
            <div>
                © 2024 Валерия Шевченко
            </div>
        </footer>
    </body>
</html>
