{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Машинки.ру{% endblock %}</title>
        <link type="text/css" href="{% static 'cars/css/style.css' %}" rel="stylesheet" />
    </head>
    <body>
        <nav class="navbar">
            <div class="navbar-brand">
                <a href="#">Машинки.ру</a>
            </div>

            <div class="navbar-links">
                {% if not user.is_authenticated %}
                    <div >
                        <a href="#">Вход</a>
                    </div>
                    <div >
                        <a href="#">Регистрация</a>
                    </div>
                {% endif %}
                
                {% if user.is_authenticated %}
                    <div >
                        <a href="#">{{user.username}}</a>
                    </div>
                    <div >
                        <a href="{% url 'logout' %}">Выход</a>
                    </div>
                {% endif %}
            </div>
        </nav>
        {% block body %}{% endblock %}
        <footer class="footer">
            <div>
                © 2024 Валерия Шевченко
            </div>
        </footer>
    </body>
</html>
