{% extends 'cars/base.html' %}

{% block body %}
    <h1 class="page-title">Машинки.ру</h1>

    <main>
        <div class="container">
            <div class="column active-users">
                <h2>Активные пользователи</h2>
                    <ul>
                        {% for user in users %}
                            <li>
                                <a href="{% url 'user_page' user.username %}">{{ user.username }}</a>
                            </li>
                        {% endfor %}
                    </ul>
            </div>
            
            <div class="column last-cars">
                <h2>Последние публикации</h2>
                <ul>
                    {% for car in cars %}
                        <li>
                            <a href="{% url 'car_detail' car.id %}">{{ car.make }} {{ car.model }} 
                            {% if car.year %}
                                ({{car.year}})
                            {% endif %}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>    
    </main>
{% endblock %}
