{% extends 'cars/base.html' %}

{% block body %}
    <main>
        <form method="POST" class="post-form">
            {% csrf_token %}

            <h1>Регистрация</h1>
            <div class="form">
                {{ form.username}}
                {{ form.password}}
                {{ form.password2}}
                <div class="comment-actions">
                    <button type="reset" class="btn btn-cancel">Отмена</button>
                    <button type="submit" class="btn btn-submit">Зарегистрироваться</button>
                </div>
            </div>
        </form>
    </main>
{% endblock %}