{% extends 'cars/base.html' %}

{% block title %}Машинки.ру - {{userpage.username}}{% endblock %}

{% block body %}

    {% if user.is_authenticated and user.id == userpage.id%}
        <div class="header">
            <h1 class="header-title">Мои машины</h1>

            <a href="{% url 'car_create' %}" class="btn btn-add">Добавить машину</a>
        </div>
    {% else %}
        <h1 class="page-title">Машины пользователя {{userpage.username}}</h1>
    {% endif %}
    

    <main class="cars-list">
        {% for car in cars %}
            <div class="car-item">
                <h2><a href="{% url 'car_detail' id=car.id %}">{{car.make}} {{car.model}} 
                    {% if car.year %}
                        ({{car.year}})
                    {% endif %}
                </a></h2>
                <div class="car-meta">
                    <div>
                        <p class="car-date">Создано: {{car.created_at}}</p>
                        <p class="car-date">Последнее изменение: {{car.updated_at}}</p>
                    </div>
                    {% if user.is_authenticated and user.id == userpage.id%}
                        <div style="display: flex;">
                            <a href="{% url 'car_edit' id=car.id %}" class="btn btn-edit">Изменить</a>
                            <form method="POST" action="{% url 'car_delete' id=car.id %}" onclick="return confirm('Вы уверены, что хотите удалить данное авто? Действие нельзя отменить.');">
                                {% csrf_token %}    
                                <button class="btn btn-del">Удалить</button>
                            </form>
                        </div>
                    {% endif %}
                </div>
            </div>
            <hr>
        {% endfor %}
    </main>

{% endblock %}
